* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}

p,
h1,
h2,
h3 {
  font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}
p {
  font-style: italic;
}
.container {
  margin: auto;
  width: 80%;
}
.navbar {
  background-color: #303030;
  padding: 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo img {
  width: 50%;
}
.navbar .list ul {
  display: flex;
}
.navbar .list ul li {
  padding: 15px;
  list-style-type: none;
}
.navbar .list ul li a {
  color: aliceblue;
  font-size: 12.5pt;
  letter-spacing: 1pt;
  font-weight: 300;
  font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}
.header {
  background-color: rgb(192, 147, 234);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header p,
h1 {
  color: aliceblue;
}
.header h1 {
  font-size: 60pt;
  padding-top: 10px;
}
.header p {
  font-size: 30pt;
  font-weight: 300;
  text-align: center;
}
.portfolio {
  background-color: #eee;
}
.portfolio .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.portfolio .title h2 {
  font-size: 30pt;
  padding: 10px;
  letter-spacing: 1pt;
}
.portfolio .title p {
  font-size: 13pt;
  word-spacing: 1pt;
}

.portfolio .row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 20px;
}
.portfolio img {
  width: 100%;
  display: block;
  background-color: rgba(187, 200, 4, 0.779);
}
.portfolio_items:hover img {
  background-color: rgba(0, 0, 255, 0.612);
  transition: 0s;
}

.portfolio .row p,
h3 {
  text-align: center;
  color: #303030;
}
.portfolio h3 {
  letter-spacing: 0.5pt;
  font-size: 19pt;
}
.portfolio p {
  padding: 15px;
}
.portfolio .portfolio_items {
  background-color: aliceblue;
  display: block;
  position: relative;
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.368);
}
.img_items {
  position: absolute;
  background-color: rgba(239, 209, 15, 0.861);
  top: 0;
  bottom: 85px;
  right: 0;
  left: 0;
  opacity: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.img_items h4 {
  color: #eee;
  font-size: 50pt;
  font-weight: 700;
}
.img_items:hover {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}
